*{
    margin: 0;
    padding: 0;
}

.welcomescreen{
    /* min-height: 100vh; */
    background-image: url("Images/background\ Image.jpg");
    /* filter: opacity(-25%); */
    position : relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.welcomescreen > .box{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.742);
    position: absolute;
    top : 0px;
    left : 0px;
    z-index: -1;
}
.welcomescreen > .nav{
    height : 20vh;
    width: 70vw;
    position: relative;
    /* background-color: aqua; */
    z-index: 1;
}
.logo{
    height: 100%;
    /* z-index: 30; */
}
.logo > img{
    height : 100%;
    /* background-color: aliceblue; */
    object-fit: contain;
    /* z-index: 30; */
}
.nav #language{
    position: relative;
    height: 50%;
    border-radius: 5px;
    font-size: 20px;
    width:auto;
    color: white;
    z-index: 2;
    padding : 5px;
    background-color: rgba(255, 255, 255, 0.205);
    text-align: center;
    padding: 2px 5px;
}
option{
    color: black;
}
.signIn ,.signIn>h3{
    background-color: red;
    border-radius: 5px;
    /* height : 100px; */
    font-size: 20px;
    /* height: 80%; */
    /* z-index: 30; */
    white-space: nowrap;
    padding: 2px 4px;
    color:white;
    font-weight: normal;
}

.nav{
    justify-content: space-between;
}
.nav , .nav >div:nth-child(2){
    display: flex;
    align-items: center;
}
.nav >div:nth-child(2){
    column-gap: 20px;
}
.content{
    height: fit-content;
    width: 70vw;
    /* background-color: rgb(131, 40, 40); */
    /* z-index: 30; */
    /* display: flex; */
    margin:auto;
    padding : 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content>p{
    color: white;
    font-weight: 800;
    /* margin: auto; */
    text-align: center;
}
.content>p:nth-child(1){
    /* font-size: 500%; */
    font-size: 10vh;
    text-align: center;
}
.content>p:nth-child(2){
    /* font-size: 200%; */
    font-size: 4vh;
}
.content>p:nth-child(3){
    margin: 20px;
}
.emailandgetstarted{
    display: flex;
    width: 70%;
    margin-top: 5px;
    margin : auto;
    column-gap: 3px;
    /* background-color: aqua; */
    align-items: center;
    justify-content: space-evenly;
}
.emailandgetstarted > h2:first-child{
    /* width: 60%; */
    flex-grow: 1;
    border: 2px solid rgba(255, 255, 255, 0.299);
    border-radius: 3px;
    height: fit-content;
    padding: 10px;
    color: white;
    white-space: nowrap;
}
.emailandgetstarted > h2:nth-child(2){
    background-color: red;
    color: white;
    padding : 10px;
    border-radius: 3px;
    white-space: nowrap;

}
@media screen and (max-width : 900px){
    *{
        overflow: hidden;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: aqua; */
        align-content: center;
    }
    .nav #language{
        height: 100%;
    }
    .emailandgetstarted{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .content{
        overflow-x: hidden;
    }
    .content>p:nth-child(1){
        font-size: 8vh;
        text-align: center;
    }
    .content>p:nth-child(2){
        font-size: 100%;
    }
}






/* Main Div Styling  */

.main>h2{
    color: white;
    padding: 20px;
    margin: auto;
    width: 70%;
}

.main{
    background-color: black;
}

.CountryandMovies{
    display: flex;
    justify-content: flex-start;
    margin: auto;
    column-gap: 20px;
    width: 70%;
}
.CountryandMovies *{
    /* width: 20%; */
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}
.CountryandMovies select option{
    color: black;
}
.main > .scrollimages{
    width: 70%;
    /* background-color: aqua; */
    /* height: 10vh; */
    margin: 20px auto;
    display: flex;
    /* justify-content: space-around; */
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
}
.scrollimages>img{
    flex-shrink: 0;
    margin : 3px 20px;
    border-radius: 20px;
}
.reasons{
    /* height: 50vh; */
    width : 75%;
    margin : auto;
    /* background-color: aqua; */
    display:flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
    align-items: center;
}
.reasons >div{
    /* height : 100%; */
    box-sizing: border-box;
    flex-shrink: 0;
    /* text-align: center; */
    width : 20vw;
    margin: 30px 20px;
    color: white;
    background-color: mediumvioletred;
    border: 2px solid goldenrod;
    border-radius: 30px;
    outline-offset: 3px;
    outline:2px solid  gold;
    box-shadow: 5px 5px 15px 5px rgb(37, 37, 37) inset;
}
.scrollimages > img:hover{  /*dont give space between div and :hover*/
    transform: scale(1.09);
    transition: transform 0.2s 0s ease-out ;
}
.reasons > div> h1{
    color: rgb(192, 192, 192);
    font-family: sans-serif;
}
.reasons > div *{
    margin-top: 10%;
    margin : 10%;
    color: rgb(220, 217, 217);
    overflow: auto;
}
@media screen and (max-width :900px){
    html {
        overflow-y: auto;
    }
    
    .reasons{
        display: block;
    }
    .reasons > div{
        width: 80%;
        margin: 20px auto;
    }
}
